body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0px;
    padding: 0px;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}






.off {
    visibility: hidden;
}

.on {
    visibility: visible;

}

.menu {
    background: #231F20;
    font-family: 'Montserrat', sans-serif;
    z-index: 10;
    position: fixed;
    float: right;
    
}

.menu-btn {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.menu-btn a {
    color: white;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;

}


/*menu mobile*/

.mobile-btn {
    display: block;
    color: white;
    width: 36px;
    height: 36px;
    border-top: 4px solid;
    margin: 20px 20px 0 0;
    cursor: pointer;
    float: right;
    -webkit-backface-visibility: hidden;
}

.mobile-btn::after,
.mobile-btn::before {
    content: '';
    display: block;
    height: 4px;
    margin-top: 6px;
    background: currentColor;
    position: relative;
    transition: transform .2s ease;

}

.mobile-btn.active {
    border-top-color: transparent;
}

.mobile-btn.active::after {
    margin-top: 0px;
    top: 2px;
    transform: rotate(45deg);
}

.mobile-btn.active::before {
    margin-top: 0px;
    top: 6px;
    transform: rotate(135deg);
}






/*introducao*/

.introducao {
    height: 600px;
    max-width: 100%;
    background: #231F20;
    display: block;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;

}

.introducao-logo {
    max-width: 180px;
    padding: 0px;
    margin: 0px;
}

.texto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: white;

}

.texto h1 {
    font-size: 2.8em;
    padding: 30px;
    font-family: 'Playfair Display', serif;
    letter-spacing: -5px;

}

.texto p {
    font-size: 3em;

}

.estilo {
    letter-spacing: 20px;
}

/*servicos*/

.servicos {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.servicos-info {
    flex: 2 1 300px;
    margin: 0 auto;
    padding: 60px;
}

.servicos-info h1{
    text-align: center;
    color: #525252;
    font-size: 2.8em;
    padding: 30px;
    font-family: 'Playfair Display', serif;
}

.servicos-info h1::after{
   content: "";
    display: block;
    width: 200px;
    height: 3px;
    background: #525252;
    margin: 14px auto 10px auto;
	
}
.servicos-info p {
    font-size: 1.5em;
    font-family: helvetica;
    color: #8F8F8F;
    line-height: 2;
}


.servicos-img {
    flex: 1 1 500px;
    padding: 0px;
}

/*Sobre*/

.sobre {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info {
    flex: 2 1 300px;
    margin: 0 auto;
    padding: 60px;
}

.sobre-info h1{
    text-align: center;
    color: #525252;
    font-size: 2.8em;
    padding: 30px;
    font-family: 'Playfair Display', serif;
}

.sobre-info h1::after{
   content: "";
    display: block;
    width: 200px;
    height: 3px;
    background: #525252;
    margin: 14px auto 10px auto;
	
}
.sobre-info p {
    font-size: 1.5em;
    font-family: helvetica;
    color: #8F8F8F;
    line-height: 2;
}


.sobre-img {
    flex: 1 1 475px;
    padding: 0px;
}

/*Contato*/

.contato {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contato-info {
    flex: 2 1 300px;
    margin: 0 auto;
    padding: 60px;
}

.contato-info h1{
    text-align: center;
    color: #525252;
    font-size: 2.8em;
    padding: 30px;
    font-family: 'Playfair Display', serif;
}

.contato-info h1::after{
   content: "";
    display: block;
    width: 200px;
    height: 3px;
    background: #525252;
    margin: 14px auto 10px auto;
	
}
.contato-info p {
    font-size: 1.5em;
    font-family: helvetica;
    color: #8F8F8F;
    line-height: 2;
}


.contato-img {
    flex: 1 1 500px;
    padding: 0px;
}


/*footer*/

.footer {
	display: flex;
    background: #231F20;
    height: 200px;
    align-items: center;
}

.footer p{
    flex: 1;
    text-align: center;
    font-size: 2.25em;
    color: #fff;
}